@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.App {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

.nav {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  background-color: #ffffff;
}

.logo {
  display: flex;
  justify-self: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
}

p {

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  text-align: center;

  /* $brandColorPrimary */
  color: #1b31a8;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.origin {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.inputFieldContainer {
  width:80%;
  display: flex;
  /* justify-content: flex-start; */
  justify-content:center;
  align-self: center;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}

.inputFieldContainer label {
  width: 143px;
  height: 25px;
  text-align: left;
  /* LG / description */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  /* or 21px */

  color: #000000;
}

.inputFieldContainer input {
  width: 400px;
  height: 42px;
  /* left: 208px; */
  border-radius: 4px;
  top: 232px;
  text-align: left;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  padding: 0.4em 0.8em;
  color: #000000;
  border: 2px solid #d8d8ff;
}

.inputFieldContainer input:focus {
  box-shadow: -1px 9px 20px -8px #6262623d;
}

.CTA {
  cursor: pointer;
  position: relative;
  top:22%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  width: 141px;
  height: 62px;
  color: white;
  background: #2039bf;
  border-radius: 32px;
  border: 0;
}

.mapContainer {
  height: 400px;
  /* position: absolute; */
  right: 150px;
  box-shadow: 0px 16px 32px 4px rgb(30 42 50 / 11%);
  border-radius: 18px;
  overflow: hidden;
  background: #f5f0e3;
  padding: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f4f8fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

